footer .music-box div{
  height: 16vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

footer .music-box li:hover{
  box-shadow: 0 0 .5vh .5vh rgba(255, 255, 255, 0.8);
}

footer h3{
  font-size: 2vh;
  margin-top: 1vh;
}